<h1><%= __('Hello') %></h1>

<h2> The next big thing </h2>

<p>Bonjour is an app thats let share things with friends.  Maybe even photos???</p>



<div data-form>
    <label>Enter your message</label>
    <input type="text" placeholder="Whats on your mind?" />
</div>


<h3> Chats </h3>
<ul class="chats">
    <!-- chats go here eventually -->
</ul>